Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# String

a = "Let's get started with Data Science"
type(a)

str

In [2]:
# List

L = [10,20,30,100,"Data Science","Python",True,False,6+9j,9-7J]
type(L)

list

In [1]:
#Float
  
f = 89.456
type(f)

float

In [2]:
# tuple

tup = (10,20,30,100,"Data Science","Python",True,False,6+9j,9-7J)
type(tup)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [4]:
var1 = ' '
type(var1)

str

In [7]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [10]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
# 1. / - Division operator allows to divide two numbers and return a quotient

50/6

8.333333333333334

In [12]:
# 2. % - Modulo Operator gives remainder of a division problem

50 % 6

2

In [13]:
# 3. // - Floor Division operator will always take the floor or the lower number.

50 // 6

8

In [14]:
# 4. ** - exponentiation operator gives power of given number

2**3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [2]:
list = [10 , 30 , 57.89, "Data Science", 4+8j, [1,2,3,4],"Python",True,False,1000]
for i in list:
    print(i,type(i))
    
type(list)

10 <class 'int'>
30 <class 'int'>
57.89 <class 'float'>
Data Science <class 'str'>
(4+8j) <class 'complex'>
[1, 2, 3, 4] <class 'list'>
Python <class 'str'>
True <class 'bool'>
False <class 'bool'>
1000 <class 'int'>

list

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
a = 10
b = 5
i = 1

while i<a:
    if a % b ==0:
        print("Purely Divisible ")
        break
else :
    print("Not divisible")

Purely Divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [5]:
list_1 = list(range(25))
list_1
for i in list_1:
    if i % 3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [8]:
'''Mutable Data Types - A mutable object can be changed after it is created at any particular index
Example - List , Dictionary , Set'''

l = [2,4,5,6,7,"Data science"]
 # If we want to change data at index 5 , Data science to python then it is implemented as :

l[5] = "Python"
l

[2, 4, 5, 6, 7, 'Python']

In [10]:
'''Immutable Data Types -An immutable object cannot be changed after it is created at any particular index
Example - String , Tuple , Int'''

S = "ABCDE"
# If we want to change B data at 1st index to F then it will give an error as below:

S[1]="F"

#This shows String is immutable

TypeError: 'str' object does not support item assignment