# Q1. What is a database? Differentiate between SQL and NoSQL databases.

#Database : 
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
A database is usually controlled by a database management system (DBMS)

# Differnce Between SQL and NoSQL
1. SQL databases are relational, and NoSQL databases are non-relational.
2. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
3. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
4. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
5. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

##  DDL : 
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. 
These database objects include views, schemas, tables, indexes, etc.

1. Create
This command builds a new table and has a predefined syntax. The CREATE statement syntax is:
CREATE TABLE [table name] ([column definitions]) [table parameters];
For example:
CREATE TABLE Employee (Employee Id INTEGER PRIMARY KEY, First name CHAR (50) NULL, Last name CHAR (75) NOT NULL);

2. Alter
An alter command modifies an existing database table. This command can add up additional column, drop existing columns and even change the data type of columns involved in a database table.
An alter command syntax is:
ALTER object type object name parameters;
For example:
ALTER TABLE Employee ADD PRIMARY KEY (employee_pk);

3. Drop
A drop command is used to delete objects such as a table, index or view. A DROP statement cannot be rolled back, so once an object is destroyed, thereâ€™s no way to recover it.
Drop statement syntax is:
DROP object type object name;
For example:
DROP TABLE Employee;

3.Truncate
Similar to DROP, the TRUNCATE statement is used to quickly remove all records from a table. However, unlike DROP that completely destroys a table, TRUNCATE preserves its full structure to be reused later.
Truncate statement syntax is:
TRUNCATE TABLE table_name;
For example:
TRUNCATE TABLE Employee;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

## DML :
A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database. 
This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data. 
DML is mostly incorporated in SQL databases.

1. UPDATE: This command modifies data of one or more records. An update command syntax is UPDATE [table name] SET [column name = value] where [condition].
2. INSERT: This command adds one or more records to a database table. The insert command syntax is INSERT INTO [table name] [column(s)] VALUES [value(s)].
3. DELETE: This command removes one or more records from a table according to specified conditions. Delete command syntax is DELETE FROM [table name] where [condition].

# Q4. What is DQL? Explain SELECT with an example.

# DQL :

The Data Query Language, or DQL for short, is the group of commands responsible for querying data from a database. 
The principal DQL command in SQL is the SELECT command, which retrieves data from one or more tables.

SELECT command or statement in SQL is used to fetch data records from the database table and present it in the form of a result set
For example :
    SELECT * from Student;

# Q5. Explain Primary Key and Foreign Key.

## Primary key

1. The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. 
2. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. 
3. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.

## Foreign Key

1. The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. 
2. It is also known as the referencing key that establishes a relationship between two different tables in a database.
3. A foreign key always matches the primary key column in another table. 
4. It means a foreign key column in one table refers to the primary key column of another table. 
5. A foreign key is beneficial in relational database normalization, especially when we need to access records from other tables.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

print(mydb)

## Cursor() :
A cursor is an object which helps to execute the query and fetch the records from the database.

## Execute():
This method executes the given database operation (query or command).

# Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT/OFFSET