# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]


my_series = pd.Series(my_list)


print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [4]:
data = {"name":['Alice','Bob','Claire'],
        "Age": [25,30,27],
        "Gender" : ['Female','Male','Female']}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure.
It is similar to a spreadsheet or SQL table, where data is organized into rows and columns. 
Each column in a DataFrame can have a different data type, which makes it suitable for handling a wide variety of data, including structured data like CSV files, SQL databases, and more. 
You can think of a DataFrame as a collection of Pandas Series, where each column represents a Series.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of a single data type.
It is essentially a column or a single-dimensional array with associated labels or indices. 
Series are used to represent a single column or row of data in a DataFrame.

In [7]:
import pandas as pd


series_data = pd.Series([10, 20, 30, 40, 50], name='MySeries')


data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 30, 35, 40, 45],
        'Salary': [50000, 60000, 70000, 80000, 90000]}

df = pd.DataFrame(data)


print("Pandas Series:")
print(series_data)
print("\n")


print("Pandas DataFrame:")
print(df)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
Name: MySeries, dtype: int64


Pandas DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4      Eva   45   90000

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

1. Selection and Indexing:

.loc[]: Allows you to select rows and columns by label.
.iloc[]: Allows you to select rows and columns by integer position.


df.loc[2:4, ['Name', 'Age']]

df.iloc[2:4, [0, 1]]

2. Filtering and Querying:

.query(): Allows you to filter rows using a query expression.
Conditional indexing: You can use boolean indexing to filter rows based on conditions.
Example:

python
Copy code

df.query('Age > 30')

df[df['Salary'] >= 70000]

3. Aggregation:

.groupby(): Allows you to group data by one or more columns and perform aggregate operations.
Aggregation functions like .sum(), .mean(), .min(), .max(), etc.
Example:

python
Copy code
# Grouping by 'Age' and calculating the mean salary
df.groupby('Age')['Salary'].mean()

4.Sorting:

.sort_values(): Sorts the DataFrame by one or more columns.
Example:

python
Copy code
# Sorting by 'Age' in ascending order
df.sort_values('Age', ascending=True)

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the three data structures provided by Pandas (Series, DataFrame, and Panel), only the DataFrame is mutable in nature.

Series: Series is one-dimensional and immutable. Once you create a Series, you cannot change its elements or size without creating a new Series.

DataFrame: DataFrame is two-dimensional and mutable. You can add, delete, or modify rows and columns in a DataFrame after it is created.

Panel: Panels were deprecated in Pandas 0.25.0, and their use is discouraged. They were three-dimensional data structures, but you should use multi-index DataFrames or other structures instead.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [2]:
import pandas as pd

series1 = pd.Series([1, 2, 3, 4, 5], name='Column1')
series2 = pd.Series(['A', 'B', 'C', 'D', 'E'], name='Column2')
series3 = pd.Series([10.5, 20.3, 15.8, 7.2, 9.9], name='Column3')


data = {'Column1': series1, 'Column2': series2, 'Column3': series3}
df = pd.DataFrame(data)


print(df)

   Column1 Column2  Column3
0        1       A     10.5
1        2       B     20.3
2        3       C     15.8
3        4       D      7.2
4        5       E      9.9